<h2 style="text-align: center" mat-dialog-title>Advanced Filters</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
  <div style="text-align: center; margin-top: 20px;">
    <i style="font-size: 48px; color: var(--mat-sys-on-surface);" class="mdi mdi-timer-sand"></i>
    <h2 style="color: var(--mat-sys-on-surface);">Coming Soon</h2>
    <p style="color: var(--mat-sys-on-surface);">Stay tuned for updates!</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button (click)="close()">Close</button>
</mat-dialog-actions>
