.toolbar-title {
  font-weight: 500;
  color: var(--mat-sys-on-primary)
}

mat-toolbar {
  justify-content: space-between;
}

.mdi-24px.mdi:not(.no-transform)::before {
  transform: translateY(2px);
}

.no-transform {
  transform: translateY(-4px);
}

footer p {
  padding: 0 1rem 0.25rem 1rem;
  margin: 0
}