@use "@angular/material" as mat;
@use "app/styles/theme-colors" as theme-colors;
@use "@mdi/font/css/materialdesignicons.css" as mdi;
@use "app/styles/tokens";

html, body {
  height: 100%;
  @include mat.theme(
      (
        typography: Inter,
        density: 0
      )
  )
}

body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  background: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

:root {
  @include mat.toolbar-overrides((
    container-background-color: #61af37
  ))
}

.table-filter {
  margin: 1.25rem 1rem 0 1rem;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid var(--mat-sys-outline);
}

.mat-mdc-paginator {
  border-top: 1px solid var(--mat-sys-outline);
}

.mat-sort-header-container {
  justify-content: center !important;
}

.mat-mdc-header-cell {
  border-top: 1px solid var(--mat-sys-outline);
}
